<h3>View feature toggles for a store</h3>
<form [formGroup]="storeFeatureTogglesForm" (ngSubmit)="getStoreFeatureToggles()" novalidate>
    <table>
      <tr> <td>Store Number</td><td>Environment</td> <td>Product team</td></tr>
      <tr>
        <td><input class="form-control" formControlName="storeNumber" value="arst"></td>
        <td><input class="form-control" formControlName="environment"></td>
        <td><input class="form-control" formControlName="productTeam"></td>
        <td><button type="submit" >Get</button></td>
      </tr>
    </table>
</form>
<li *ngFor="let toggle of storeFeatureToggles | async">{{toggle}}</li>

<h3>Add feature toggle for a store</h3>
<form [formGroup]="addStoreFeatureToggleForm" (ngSubmit)="addFeatureToggle()" novalidate>
  <table>
    <tr> <td>Feature</td><td>Store Number</td><td>Environment</td> <td>Product team</td></tr>
    <tr>
      <td><input class="form-control" formControlName="feature"></td>
      <td><input class="form-control" formControlName="storeNumber"></td>
      <td><input class="form-control" formControlName="environment"></td>
      <td><input class="form-control" formControlName="productTeam"></td>
      <td><button type="submit" >Add</button></td>
    </tr>
  </table>
</form>
